@page "/city/update/{id:guid}"
@inject NavigationManager Navigation
@inject IObjService<CityModel, CityCreate, CityUpdate> CityService
@inject IMapper mapper

<h1>Update</h1>

<EditForm Model="@cityUpdate" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label>Name</label>
        <InputText @bind-Value="cityUpdate.Name" class="form-control" />
        <ValidationMessage For="@(() => cityUpdate.Name)" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public Guid Id { get; set; }
    private CityUpdate cityUpdate = new CityUpdate();

    protected override async Task OnParametersSetAsync()
    {
        if (Id != Guid.Empty)
        {
            var result = await CityService.GetObjectById(Id);
            if (result != null)
            {
                cityUpdate = mapper.Map<CityUpdate>(result);
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        if (Id != Guid.Empty)
        {
            await CityService.UpdateObject(cityUpdate);
            Navigation.NavigateTo("/city/list");
        }
    }
}


